{% extends 'base.html.twig' %}

{% block title %}Report note - Mentionable{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center mb-4">
                <div class="row justify-content-center mb-4">
                    <div class="col-lg-7 pt-4 ps-4 pe-4 pb-3" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                        <h2>Report note</h2>
                        <p class="mb-5">Select the reason for reporting:</p>
                        <form method="POST" action="{{ path(formActionRoute, routeParams) }}">
                            <label class="mb-2">
                                <input type="radio" name="reason" value="spam"> Spam
                            </label><br>

                            <label class="mb-2">
                                <input type="radio" name="reason" value="harassment"> Harassment
                            </label><br>

                            <label class="mb-2">
                                <input type="radio" name="reason" value="false_info"> False Information
                            </label><br>

                            <label class="mb-2">
                                <input type="radio" name="reason" value="bad_language"> Inappropriate Language
                            </label><br>

                            <label>
                                <input type="radio" name="reason" value="other"> Other
                            </label><br>

                            <button type="submit" class="btn btn-light mt-5" style="width: 120px">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
